.photo-grid {
  max-width: 92.5%;
  margin: 0 auto 94px;
  display: grid;
  gap: 1.2vw;
  grid-template-columns: repeat(4, 1fr);
}


@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 90.5%;
    gap: 1.3vw;

  }

}


@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 720px;
    gap: 2vw;
    margin: 0 auto 92px;
  }

}


@media screen and (max-width: 425px) {
  .photo-grid {
    gap: 12px;
    grid-template-columns: 1fr;
    margin-bottom: 64px;
  }

}
