
.places {
  max-width: 76.75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 90.5%;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    max-width: 100%;
    margin-bottom: 66px;
  }
}

