.header__link {
  font-size: 24px;
  line-height: 1.15;
  margin-right: 18px;
  max-width: 28px;
}

.header__link:last-of-type {
  margin: 0;
  text-decoration: none;
}


@media screen and (max-width: 425px) {
  .header__link {
    font-size: 18px;
    line-height: 1.1;
    max-width: 20px;
  }

}
