.intro {
  max-width: calc(100% - 296px);
  margin: 92px auto;
  text-align: start;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: calc(100% - 48px);
    margin: 86px auto;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    max-width: calc(100% - 32px);
    margin: 64px auto;
  }
}
