.footer {
  display: flex;
  justify-content: space-between;
  max-width: 93%;
  margin: 0 auto 24px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 93%;
  }


}

@media screen and (max-width: 495px) {
  .footer {
    flex-direction: column;
  }
}
