.intro__title {
  max-width: 690px;
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
  margin: 0 0 40px 0;
}
@media screen and (max-width: 768px) {
  .intro__title {
    max-width: none;
  }
}


@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    max-width: 85%;
  }
}
